# Byte-compiled files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/images/train/*.jpg
data/images/train/*.png
data/images/test/*.jpg
data/images/test/*.png
data/data.csv

# Checkpoints for model training
checkpoints/

# Python environment files
*.env
.venv/
venv/
env/
env.bak/
*.egg-info/
dist/
build/

# Log files
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*~
